<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ccc;
        text-align: center;
        margin-right: 5px;
        border-radius: 40px;
    }
    span.active {
    color: #449DDA;
    }
    span.total-page{
        width: 120px;
        height: 40px;
    }
    </style>
</head>

<body>
    <div id="paging">
        <span class="total-page">共{{217}}条/{{31}}页</span>
        <span @click="switchPage(curPage - 1)">&lt;</span>
        <span v-if="showText(item)"
        @click="switchPage(item)"
        v-for="item in sum" :key="item"
        :class="{'active': item == curPage}">
        {{ showText(item) }}
        </span>
        <span @click="switchPage(curPage + 1)">&gt;</span>
      </div>
    <script>
       var paging = new Vue({
            el: "#paging",
            data() {
                return {
                    sum: 31,
                    curPage: 1,
                }
            },
            methods: {
                switchPage(page) {
                    if (page > 0 && page < this.sum + 1) {
                     this.curPage = page
                    }
                },
                showText(i) {
                    if (i === 1 || i === this.sum) {
                    //第一页和最后一页始终显示
                        return i
                    } else if (i < this.curPage + 2 && i > this.curPage - 2) {
                    //当前页的前一页和后一页始终显示
                    return i
                    } else if (i == this.curPage + 2 || i == this.curPage -2){
                        //当前页的前前页和后后页显示'...'
                    return '...'
                    } else {
                    //其他页面都不显示
                    return false
                    }
                },
            }
        })
    </script>
</body>

</html>
