.search input
  width 2rem
  height .35rem
  text-align center
  line-height .35rem
  margin 0 .2rem 0 .5rem

.search input:focus
  border 1px solid #449DDA

.search button
  width 1rem
  height .35rem
  background-color #449DDA
  outline none
  border-radius 3px

.search button:active
  background-color #4C5979

.station-edit li
  width 6rem
  height .46rem
  padding .09rem 0
  margin 0 auto

.station-edit li.stationSet
  width 10rem

.station-edit li .messagename
  display block
  float left
  width 1rem
  height .44rem
  line-height .44rem
  text-align left

.station-edit li .messagenametwo
  display block
  float left
  width 3rem
  height .44rem
  line-height .44rem
  text-align left

.station-edit li .message-number
  display block
  float left
  width 2.4rem
  height .44rem
  line-height .44rem
  padding-left .1rem

.station-edit li .message-tip
  display block
  float left
  font-size .12rem
  color #ccc
  padding-left .05rem
  line-height .44rem

.notification
  width 4rem
  margin .1rem auto
  padding-left 0rem

.notification button
  width 2.55rem
  height .44rem
  cursor pointer
  font-size .18rem
  border-radius 4px
  background-color #ff9900

.notification button:active
  background-color #2e3751

.editbtn
  width 4rem
  padding-left .1rem
  margin 0 auto

.editbtntwo
  width 4rem
  padding-left 1.5rem
  margin 0 auto

.message-error
  display block
  float left
  line-height .44rem
  padding-left .05rem
  color rgb(239,113,100) !important

.radio-menu
    display block
    float left
    width 2.6rem
    height .44rem
    line-height .44rem
    padding-left 0rem
    position relative

.radio-inp
    width 2.6rem
    height 0.44rem

.radio-inp input
    width 2rem
    height 0.44rem
    color #ffffff
    padding-left 0.1rem
    vertical-align middle

.radio-icon
    display inline-block
    color #ccc
    width 0.46rem
    height 0.47rem
    cursor pointer
    text-align center
    line-height 0.455rem
    border-radius 0 4px 4px 0
    vertical-align middle
    background-color #2e3751

.radio-content
    width 2.48rem
    height 2rem
    position absolute
    top .6rem
    z-index 100

.radio-content li
    width 100%
    height .2rem
    font-size .14rem
    line-height .2rem
    text-align center
    position relative
    cursor pointer
    background-color #2e3751
    color #fff

.radio-content li.selected
    color #449DDA

.radio-content li .list-select
    display inline-block
    position absolute
    left .5rem
    font-size .14rem